[run]
source = app
omit = 
    */tests/*
    */migrations/*
    */__init__.py
    */config/*
    */venv/*
    */env/*

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov

[xml]
output = coverage.xml