aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiohttp-retry==2.9.1
aiosignal==1.3.2
aiosmtplib==4.0.1
alabaster==1.0.0
alembic==1.13.1
altgraph==0.17.4
amqp==5.3.1
aniso8601==10.0.1
annotated-types==0.7.0
anthropic==0.8.1
anyio==3.7.1
apispec==6.3.0
apispec-webframeworks==0.5.2
appdirs==1.4.4
APScheduler==3.11.0
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
astor==0.8.1
astroid==3.3.10
asttokens==3.0.0
asyncpg==0.30.0
attrs==25.3.0
Authlib==1.6.0
autogen-agentchat==0.4.9.3
autogen-core==0.4.9.3
autogen-ext==0.4.9.3
autogenstudio==0.4.2.1
azure-ai-documentintelligence==1.0.2
azure-ai-inference==1.0.0b9
azure-core==1.34.0
azure-identity==1.22.0
babel==2.17.0
backports.tarfile==1.2.0
backrefs==5.8
bandit==1.8.3
bcrypt==4.3.0
beautifulsoup4==4.13.4
bidict==0.23.1
billiard==4.2.1
black==25.1.0
bleach==6.1.0
blinker==1.9.0
boolean.py==5.0
boto3==1.34.14
botocore==1.34.162
Brotli==1.1.0
build==1.2.2.post1
CacheControl==0.14.3
cachelib==0.9.0
cachetools==5.5.2
celery==5.3.4
certifi==2025.6.15
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cobble==0.1.4
colorama==0.4.6
contourpy==1.3.2
coverage==7.8.0
cryptography==41.0.7
cssutils==2.11.1
cycler==0.12.1
cyclonedx-python-lib==9.1.0
dataclasses-json==0.6.7
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.4.0
distlib==0.3.9
distro==1.9.0
Django==5.2.1
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
docker==7.1.0
docutils==0.21.2
dparse==0.6.4
ecdsa==0.19.1
elastic-transport==8.17.1
elasticsearch==8.11.1
email-validator==2.1.0
et_xmlfile==2.0.0
eventlet==0.33.3
executing==2.2.0
factory-boy==3.3.0
Faker==26.0.0
fastapi==0.115.12
fastapi-cli==0.0.7
filelock==3.16.1
flake8==7.2.0
Flask==3.1.1
flask-babel==4.0.0
Flask-Bcrypt==1.0.1
Flask-Caching==2.3.1
Flask-Compress==1.14
Flask-Cors==4.0.2
Flask-JWT-Extended==4.6.0
Flask-Limiter==3.7.0
Flask-Mail==0.9.1
flask-marshmallow==1.1.0
Flask-Migrate==4.0.5
Flask-RESTful==0.3.10
flask-restx==1.3.0
Flask-Session==0.8.0
Flask-SocketIO==5.3.7
Flask-SQLAlchemy==3.1.1
fonttools==4.58.2
frozenlist==1.6.0
fsspec==2025.5.1
gevent==24.2.1
ghp-import==2.1.0
git-filter-repo==2.47.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.111.0
google-auth==2.25.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
greenlet==3.2.3
grpcio==1.72.1
grpcio-status==1.71.0
gunicorn==21.2.0
h11==0.16.0
hf-xet==1.1.3
html2text==2025.4.15
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.33.0
icalendar==6.3.1
id==1.5.0
identify==2.6.12
idna==3.10
imagesize==1.4.1
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.1.0
ipdb==0.13.13
ipython==9.3.0
ipython_pygments_lexers==1.1.1
isodate==0.7.2
isort==6.0.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.9.0
jmespath==1.0.1
joblib==1.5.1
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
keyring==25.6.0
kiwisolver==1.4.8
kombu==5.5.4
langchain==0.0.352
langchain-community==0.0.20
langchain-core==0.1.23
langchain-openai==0.3.16
langchain-text-splitters==0.3.8
langsmith==0.0.87
ldap3==2.9.1
license-expression==30.4.1
limits==5.1.0
loguru==0.7.3
lxml==4.9.4
mac-vendor-lookup==0.1.12
macholib==1.16.3
Mako==1.3.10
mammoth==1.9.0
Markdown==3.8
markdown-it-py==3.0.0
markdownify==1.1.0
markitdown==0.0.2
MarkupSafe==3.0.2
marshmallow==3.20.1
marshmallow-sqlalchemy==0.29.0
matplotlib==3.10.3
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.14
mkdocs-material-extensions==1.3.1
modulegraph==0.19.6
more-itertools==10.7.0
msal==1.32.3
msal-extensions==1.3.1
msgpack==1.1.0
msgspec==0.19.0
multidict==6.4.3
mypy==1.16.0
mypy_extensions==1.1.0
networkx==3.5
nh3==0.2.21
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.2
oauthlib==3.2.2
olefile==0.47
openai==1.90.0
openpyxl==3.1.2
opentelemetry-api==1.33.0
ordered-set==4.1.0
orjson==3.10.18
packageurl-python==0.16.0
packaging==25.0
paginate==0.5.7
pandas==2.1.4
parso==0.8.4
passlib==1.7.4
pathspec==0.12.1
pathvalidate==3.2.3
patsy==1.0.1
paypalrestsdk==1.13.3
pbr==6.1.1
pdfminer.six==20250506
pexpect==4.9.0
Pillow>=11.0.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
platformdirs==4.3.8
playwright==1.52.0
pluggy==1.5.0
pre_commit==4.2.0
prometheus-flask-exporter==0.23.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psutil==5.9.8
psycopg==3.2.8
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.29
py-serializable==2.0.0
py2app==0.28.8
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.13.0
pycparser==2.22
pycryptodome==3.19.0
pydantic==2.9.2
pydantic-settings==2.9.1
pydantic_core==2.23.4
pydub==0.25.1
pyee==13.0.0
pyflakes==3.3.2
Pygments==2.19.1
PyJWT==2.8.0
pylint==3.3.7
pymdown-extensions==10.15
pyobjc==11.1
pyobjc-core==11.1
pyobjc-framework-Accessibility==11.1
pyobjc-framework-Accounts==11.1
pyobjc-framework-AddressBook==11.1
pyobjc-framework-AdServices==11.1
pyobjc-framework-AdSupport==11.1
pyobjc-framework-AppleScriptKit==11.1
pyobjc-framework-AppleScriptObjC==11.1
pyobjc-framework-ApplicationServices==11.1
pyobjc-framework-AppTrackingTransparency==11.1
pyobjc-framework-AudioVideoBridging==11.1
pyobjc-framework-AuthenticationServices==11.1
pyobjc-framework-AutomaticAssessmentConfiguration==11.1
pyobjc-framework-Automator==11.1
pyobjc-framework-AVFoundation==11.1
pyobjc-framework-AVKit==11.1
pyobjc-framework-AVRouting==11.1
pyobjc-framework-BackgroundAssets==11.1
pyobjc-framework-BrowserEngineKit==11.1
pyobjc-framework-BusinessChat==11.1
pyobjc-framework-CalendarStore==11.1
pyobjc-framework-CallKit==11.1
pyobjc-framework-Carbon==11.1
pyobjc-framework-CFNetwork==11.1
pyobjc-framework-Cinematic==11.1
pyobjc-framework-ClassKit==11.1
pyobjc-framework-CloudKit==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-Collaboration==11.1
pyobjc-framework-ColorSync==11.1
pyobjc-framework-Contacts==11.1
pyobjc-framework-ContactsUI==11.1
pyobjc-framework-CoreAudio==11.1
pyobjc-framework-CoreAudioKit==11.1
pyobjc-framework-CoreBluetooth==11.1
pyobjc-framework-CoreData==11.1
pyobjc-framework-CoreHaptics==11.1
pyobjc-framework-CoreLocation==11.1
pyobjc-framework-CoreMedia==11.1
pyobjc-framework-CoreMediaIO==11.1
pyobjc-framework-CoreMIDI==11.1
pyobjc-framework-CoreML==11.1
pyobjc-framework-CoreMotion==11.1
pyobjc-framework-CoreServices==11.1
pyobjc-framework-CoreSpotlight==11.1
pyobjc-framework-CoreText==11.1
pyobjc-framework-CoreWLAN==11.1
pyobjc-framework-CryptoTokenKit==11.1
pyobjc-framework-DataDetection==11.1
pyobjc-framework-DeviceCheck==11.1
pyobjc-framework-DeviceDiscoveryExtension==11.1
pyobjc-framework-DictionaryServices==11.1
pyobjc-framework-DiscRecording==11.1
pyobjc-framework-DiscRecordingUI==11.1
pyobjc-framework-DiskArbitration==11.1
pyobjc-framework-DVDPlayback==11.1
pyobjc-framework-EventKit==11.1
pyobjc-framework-ExceptionHandling==11.1
pyobjc-framework-ExecutionPolicy==11.1
pyobjc-framework-ExtensionKit==11.1
pyobjc-framework-ExternalAccessory==11.1
pyobjc-framework-FileProvider==11.1
pyobjc-framework-FileProviderUI==11.1
pyobjc-framework-FinderSync==11.1
pyobjc-framework-FSEvents==11.1
pyobjc-framework-FSKit==11.1
pyobjc-framework-GameCenter==11.1
pyobjc-framework-GameController==11.1
pyobjc-framework-GameKit==11.1
pyobjc-framework-GameplayKit==11.1
pyobjc-framework-HealthKit==11.1
pyobjc-framework-ImageCaptureCore==11.1
pyobjc-framework-InputMethodKit==11.1
pyobjc-framework-InstallerPlugins==11.1
pyobjc-framework-InstantMessage==11.1
pyobjc-framework-Intents==11.1
pyobjc-framework-IntentsUI==11.1
pyobjc-framework-IOBluetooth==11.1
pyobjc-framework-IOBluetoothUI==11.1
pyobjc-framework-IOSurface==11.1
pyobjc-framework-iTunesLibrary==11.1
pyobjc-framework-KernelManagement==11.1
pyobjc-framework-LatentSemanticMapping==11.1
pyobjc-framework-LaunchServices==11.1
pyobjc-framework-libdispatch==11.1
pyobjc-framework-libxpc==11.1
pyobjc-framework-LinkPresentation==11.1
pyobjc-framework-LocalAuthentication==11.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.1
pyobjc-framework-MailKit==11.1
pyobjc-framework-MapKit==11.1
pyobjc-framework-MediaAccessibility==11.1
pyobjc-framework-MediaExtension==11.1
pyobjc-framework-MediaLibrary==11.1
pyobjc-framework-MediaPlayer==11.1
pyobjc-framework-MediaToolbox==11.1
pyobjc-framework-Metal==11.1
pyobjc-framework-MetalFX==11.1
pyobjc-framework-MetalKit==11.1
pyobjc-framework-MetalPerformanceShaders==11.1
pyobjc-framework-MetalPerformanceShadersGraph==11.1
pyobjc-framework-MetricKit==11.1
pyobjc-framework-MLCompute==11.1
pyobjc-framework-ModelIO==11.1
pyobjc-framework-MultipeerConnectivity==11.1
pyobjc-framework-NaturalLanguage==11.1
pyobjc-framework-NetFS==11.1
pyobjc-framework-Network==11.1
pyobjc-framework-NetworkExtension==11.1
pyobjc-framework-NotificationCenter==11.1
pyobjc-framework-OpenDirectory==11.1
pyobjc-framework-OSAKit==11.1
pyobjc-framework-OSLog==11.1
pyobjc-framework-PassKit==11.1
pyobjc-framework-PencilKit==11.1
pyobjc-framework-PHASE==11.1
pyobjc-framework-Photos==11.1
pyobjc-framework-PhotosUI==11.1
pyobjc-framework-PreferencePanes==11.1
pyobjc-framework-PushKit==11.1
pyobjc-framework-Quartz==11.1
pyobjc-framework-QuickLookThumbnailing==11.1
pyobjc-framework-ReplayKit==11.1
pyobjc-framework-SafariServices==11.1
pyobjc-framework-SafetyKit==11.1
pyobjc-framework-SceneKit==11.1
pyobjc-framework-ScreenCaptureKit==11.1
pyobjc-framework-ScreenSaver==11.1
pyobjc-framework-ScreenTime==11.1
pyobjc-framework-ScriptingBridge==11.1
pyobjc-framework-SearchKit==11.1
pyobjc-framework-Security==11.1
pyobjc-framework-SecurityFoundation==11.1
pyobjc-framework-SecurityInterface==11.1
pyobjc-framework-SecurityUI==11.1
pyobjc-framework-SensitiveContentAnalysis==11.1
pyobjc-framework-ServiceManagement==11.1
pyobjc-framework-SharedWithYou==11.1
pyobjc-framework-SharedWithYouCore==11.1
pyobjc-framework-ShazamKit==11.1
pyobjc-framework-Social==11.1
pyobjc-framework-SoundAnalysis==11.1
pyobjc-framework-Speech==11.1
pyobjc-framework-SpriteKit==11.1
pyobjc-framework-StoreKit==11.1
pyobjc-framework-Symbols==11.1
pyobjc-framework-SyncServices==11.1
pyobjc-framework-SystemConfiguration==11.1
pyobjc-framework-SystemExtensions==11.1
pyobjc-framework-ThreadNetwork==11.1
pyobjc-framework-UniformTypeIdentifiers==11.1
pyobjc-framework-UserNotifications==11.1
pyobjc-framework-UserNotificationsUI==11.1
pyobjc-framework-VideoSubscriberAccount==11.1
pyobjc-framework-VideoToolbox==11.1
pyobjc-framework-Virtualization==11.1
pyobjc-framework-Vision==11.1
pyobjc-framework-WebKit==11.1
pyOpenSSL==24.1.0
pyotp==2.9.0
pyparsing==3.2.3
PyPDF2==3.0.1
pyproject_hooks==1.2.0
pyshark==0.6
pytest==8.3.4
pytest-asyncio==1.0.0
pytest-cov==5.0.0
pytest-flask==1.3.0
pytest-mock==3.14.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-engineio==4.12.1
python-jose==3.5.0
python-json-logger==3.3.0
python-magic==0.4.27
python-multipart==0.0.20
python-nmap==0.7.1
python-pptx==1.0.2
python-socketio==5.13.0
pyttsx3==2.98
pytz==2023.3
pyvis==0.3.2
PyYAML==6.0.2
pyyaml_env_tag==1.1
qrcode==8.2
readme_renderer==44.0
redis==5.0.1
referencing==0.36.2
regex==2024.11.6
reportlab==4.0.9
requests==2.32.4
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.0.0
rich-toolkit==0.14.6
roman-numerals-py==3.1.0
rpds-py==0.25.1
rsa==4.9.1
ruamel.yaml==0.18.12
ruamel.yaml.clib==0.2.12
s3transfer==0.10.4
safety==3.5.1
safety-schemas==0.0.14
scapy==2.6.1
scapy-http==1.8.2
schedule==1.2.0
scikit-learn==1.3.2
scipy==1.15.3
seaborn==0.13.2
sentry-sdk==2.29.1
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soupsieve==2.7
SpeechRecognition==3.14.2
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.41
sqlmodel==0.0.24
sqlparse==0.5.3
squareup==42.1.0.20250521
stack-data==0.6.3
starlette==0.46.2
statsmodels==0.14.1
stevedore==5.4.1
stripe==12.2.0
structlog==24.1.0
tenacity==8.5.0
termcolor==3.1.0
textblob==0.17.1
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.21.1
toml==0.10.2
tomlkit==0.13.2
tqdm==4.67.1
traitlets==5.14.3
twilio==9.6.3
twine==6.1.0
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.14.0
tzdata==2025.2
tzlocal==5.3.1
ujson==5.10.0
uritemplate==4.1.1
urllib3==2.5.0
uvicorn==0.34.2
uvloop==0.21.0
vine==5.1.0
virtualenv==20.31.2
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.1.9
yarl==1.20.0
youtube-transcript-api==1.0.3
zipp==3.21.0
zope.event==5.1
zope.interface==7.2
zstandard==0.23.0
google-cloud-secret-manager==2.16.4
